.App {
  font-family: sans-serif;
  text-align: center;
}

.beer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.beer img {
  width: 50px;
}

.beer > div:nth-child(2) {
  display: inline-flex;
  flex: 1 80%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.beer > div:nth-child(2) > h2 {
  display: inline-flex;
  flex: 1 100%;
  text-align: center;
  justify-content: center;
}
